*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.t-center {
    text-align: center;
}

#parallax {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(125deg, #082a38, #264653, #e66465, #9198e5, #f0c27b, #4b1248, #000000, #000000);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: background-position 2s ease-in-out;
    -moz-transition: background-position 2s ease-in-out;
    -webkit-transition: background-position 2s ease-in-out;
    -o-transition: background-position 2s ease-in-out;
    -ms-transition: background-position 2s ease-in-out;
}

.first {
    background-position: 0% 0%!important;
}

.second {
    background-position: 30% 30%!important;
}

.third {
    background-position: 65% 65%!important;
}

.fourth {
    background-position: 100% 100%!important;
}

.round {
    border-radius: 50%;
    border: dashed antiquewhite;
}

.section {
    width: 75vw;
    height: 100vh;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: transform 1s ease-in-out;
}

.row-section {
    flex-direction: row!important;
    justify-content: space-between!important;
}

.subsection {
    display: inline-flex;
    justify-content: center;
}

.subsection-center {
    align-items: center;
}

.margin-bottom {
    margin-bottom: 1em;
}

.zoom-out {
    transform: scale(.7, .7);
    -webkit-transform: scale(.7, .7);
    -moz-transform: scale(.7, .7);
    -o-transform: scale(.7, .7);
    -ms-transform: scale(.7, .7);
    transition: transform 1s ease-in-out;
}

.prev, .next {
    font-size: 2em;
    top: 50%;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .15);
    color: #2b2b2b;
    text-align: center;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}

.prev:hover, .next:hover {
    background: rgba(255, 255, 255, .5);
    transition: background .8s ease-in-out;
}

.prev {
    left: 1em;
}

.next {
    right: 1em;
}