<ul class="list-group">
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Python 3</h5>
            <small class="text-muted">Advanced</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">NodeJS</h5>
            <small class="text-muted">Advanced</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">PHP</h5>
            <small class="text-muted">Advanced</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">JavaScript</h5>
            <small class="text-muted">Advanced</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Powershell</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Amazon Web Services (Cloud Developments)</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Google Cloud Platform (Cloud Developments)</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">HTML/CSS</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Google Appscript</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Angular</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
    <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">SQL</h5>
            <small class="text-muted">Medium</small>
        </div>
        <div class="progress my-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </li>
</ul>